<section id="articles">
    <div style="padding: 8px">
        <ul class="list border">
        {{ range . }}
            <li>
                <span>Points: {{ .Points }}</span>
                <span>Comments: {{ .NumComments }}</span>
                <span>
                    <a hx-target="#articles" hx-get="summaries/{{ .ID }}_summary.html"
                       href="summaries/{{ .ID }}_summary.html">
                        {{ .Title }}
                    </a>
                </span>
            </li>
        {{ end }}
        </ul>
    </div>
<section>
