<section id="articles">
    <div style="padding: 8px">
        <div class="grid">
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 68</div>
            <div class="s6 m2 l1">Comments: 19</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45934940_summary.html"
                   href="summaries/45934940_summary.html">
                    I can&#39;t recommend Grafana anymore
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 59</div>
            <div class="s6 m2 l1">Comments: 35</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45934447_summary.html"
                   href="summaries/45934447_summary.html">
                    AI note-taking startup Fireflies was really two guys typing notes by hand
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 50</div>
            <div class="s6 m2 l1">Comments: 2</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45933497_summary.html"
                   href="summaries/45933497_summary.html">
                    No Leak, No Problem – Bypassing ASLR with a ROP Chain to Gain RCE
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 141</div>
            <div class="s6 m2 l1">Comments: 110</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45933317_summary.html"
                   href="summaries/45933317_summary.html">
                    Brexit reduced UK GDP by 6-8%, investments by 12-18% [pdf]
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 125</div>
            <div class="s6 m2 l1">Comments: 73</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45932962_summary.html"
                   href="summaries/45932962_summary.html">
                    Go&#39;s Sweet 16
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 114</div>
            <div class="s6 m2 l1">Comments: 36</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45932798_summary.html"
                   href="summaries/45932798_summary.html">
                    SSL Configuration Generator
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 51</div>
            <div class="s6 m2 l1">Comments: 71</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45932646_summary.html"
                   href="summaries/45932646_summary.html">
                    30 Days, 9 Cities, 1 Question: Where Did American Prosperity Go?
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 56</div>
            <div class="s6 m2 l1">Comments: 31</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45931552_summary.html"
                   href="summaries/45931552_summary.html">
                    Anthropic Rides an Artificial Wave
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 154</div>
            <div class="s6 m2 l1">Comments: 76</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45931403_summary.html"
                   href="summaries/45931403_summary.html">
                    All praise to the lunch ladies
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 255</div>
            <div class="s6 m2 l1">Comments: 42</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45931331_summary.html"
                   href="summaries/45931331_summary.html">
                    Show HN: Epstein Files Organized and Searchable
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 69</div>
            <div class="s6 m2 l1">Comments: 59</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45931224_summary.html"
                   href="summaries/45931224_summary.html">
                    Genergo: Propellantless space-propulsion system
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 115</div>
            <div class="s6 m2 l1">Comments: 56</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45930598_summary.html"
                   href="summaries/45930598_summary.html">
                    Structured outputs on the Claude Developer Platform
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 72</div>
            <div class="s6 m2 l1">Comments: 39</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45930284_summary.html"
                   href="summaries/45930284_summary.html">
                    Minisforum Stuffs Entire Arm Homelab in the MS-R1
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 853</div>
            <div class="s6 m2 l1">Comments: 289</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45930151_summary.html"
                   href="summaries/45930151_summary.html">
                    AI World Clocks
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 204</div>
            <div class="s6 m2 l1">Comments: 67</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45929921_summary.html"
                   href="summaries/45929921_summary.html">
                    A race condition in Aurora RDS
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 56</div>
            <div class="s6 m2 l1">Comments: 95</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45929863_summary.html"
                   href="summaries/45929863_summary.html">
                    Secret Boat Strike Memo Justifies Kills by Claiming Targeting Drugs, Not People
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 565</div>
            <div class="s6 m2 l1">Comments: 237</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45929511_summary.html"
                   href="summaries/45929511_summary.html">
                    The disguised return of EU Chat Control
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 400</div>
            <div class="s6 m2 l1">Comments: 211</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45929358_summary.html"
                   href="summaries/45929358_summary.html">
                    Bitchat for Gaza – messaging without internet
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 94</div>
            <div class="s6 m2 l1">Comments: 36</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45929247_summary.html"
                   href="summaries/45929247_summary.html">
                    Meeting notes between Forgejo and the Dutch government via Git commits
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 195</div>
            <div class="s6 m2 l1">Comments: 142</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45929052_summary.html"
                   href="summaries/45929052_summary.html">
                    Germany to ban Huawei from future 6G network
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
        </div>
    </div>
<section>
