<section id="articles">
    <div style="padding: 8px">
        <div class="grid">
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 51</div>
            <div class="s6 m2 l1">Comments: 54</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45690251_summary.html"
                   href="summaries/45690251_summary.html">
                    Roc Camera
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 125</div>
            <div class="s6 m2 l1">Comments: 82</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45690045_summary.html"
                   href="summaries/45690045_summary.html">
                    Computer science courses that don&#39;t exist, but should (2015)
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 51</div>
            <div class="s6 m2 l1">Comments: 44</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45689241_summary.html"
                   href="summaries/45689241_summary.html">
                    Counter-Strike&#39;s player economy is in a multi-billion dollar freefall
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 91</div>
            <div class="s6 m2 l1">Comments: 13</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45688836_summary.html"
                   href="summaries/45688836_summary.html">
                    React Flow, open source libraries for node-based UIs with React or Svelte
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 107</div>
            <div class="s6 m2 l1">Comments: 53</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45688236_summary.html"
                   href="summaries/45688236_summary.html">
                    Automating Algorithm Discovery: A Case Study in MoE Load Balancing
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 218</div>
            <div class="s6 m2 l1">Comments: 194</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45688006_summary.html"
                   href="summaries/45688006_summary.html">
                    Apple loses UK App Store monopoly case, penalty might near $2B
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 87</div>
            <div class="s6 m2 l1">Comments: 61</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45687796_summary.html"
                   href="summaries/45687796_summary.html">
                    How memory maps (mmap) deliver faster file access in Go
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 239</div>
            <div class="s6 m2 l1">Comments: 97</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45687458_summary.html"
                   href="summaries/45687458_summary.html">
                    /dev/null is an ACID compliant database
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 101</div>
            <div class="s6 m2 l1">Comments: 41</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45687441_summary.html"
                   href="summaries/45687441_summary.html">
                    When is it better to think without words?
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 173</div>
            <div class="s6 m2 l1">Comments: 131</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45687227_summary.html"
                   href="summaries/45687227_summary.html">
                    FocusTube: A Chrome extension that hides YouTube Shorts
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 126</div>
            <div class="s6 m2 l1">Comments: 107</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45686919_summary.html"
                   href="summaries/45686919_summary.html">
                    Date bug in Rust-based coreutils affects Ubuntu 25.10 automatic updates
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 69</div>
            <div class="s6 m2 l1">Comments: 20</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45686280_summary.html"
                   href="summaries/45686280_summary.html">
                    Zram Performance Analysis
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 65</div>
            <div class="s6 m2 l1">Comments: 14</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45685793_summary.html"
                   href="summaries/45685793_summary.html">
                    Show HN: OpenSnowcat – A fork of Snowplow to keep open analytics alive
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 618</div>
            <div class="s6 m2 l1">Comments: 418</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45685551_summary.html"
                   href="summaries/45685551_summary.html">
                    What happened to Apple&#39;s legendary attention to detail?
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 124</div>
            <div class="s6 m2 l1">Comments: 145</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45685007_summary.html"
                   href="summaries/45685007_summary.html">
                    Can “second life” EV batteries work as grid-scale energy storage?
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 552</div>
            <div class="s6 m2 l1">Comments: 341</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45684934_summary.html"
                   href="summaries/45684934_summary.html">
                    Armed police swarm student after AI mistakes bag of Doritos for a weapon
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 173</div>
            <div class="s6 m2 l1">Comments: 38</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45684736_summary.html"
                   href="summaries/45684736_summary.html">
                    OpenMaxIO: Forked UI for MinIO Object Storage
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 147</div>
            <div class="s6 m2 l1">Comments: 82</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45684689_summary.html"
                   href="summaries/45684689_summary.html">
                    Show HN: I built a tech news aggregator that works the way my brain does
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 69</div>
            <div class="s6 m2 l1">Comments: 57</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45684548_summary.html"
                   href="summaries/45684548_summary.html">
                    U.S. details gambling cases involving pro athletes and mafia families
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 85</div>
            <div class="s6 m2 l1">Comments: 2</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45684321_summary.html"
                   href="summaries/45684321_summary.html">
                    President Trump Pardons Binance Founder Changpeng Zhao
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
        </div>
    </div>
<section>
