<section id="articles">
    <div style="padding: 8px">
        <div class="grid">
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 70</div>
            <div class="s6 m2 l1">Comments: 40</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45271481_summary.html"
                   href="summaries/45271481_summary.html">
                    GNU Midnight Commander
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 275</div>
            <div class="s6 m2 l1">Comments: 98</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45270108_summary.html"
                   href="summaries/45270108_summary.html">
                    About the security content of iOS 15.8.5 and iPadOS 15.8.5
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 80</div>
            <div class="s6 m2 l1">Comments: 63</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45269827_summary.html"
                   href="summaries/45269827_summary.html">
                    I launched a Mac utility; now there are 5 clones on the App Store using my story
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 131</div>
            <div class="s6 m2 l1">Comments: 43</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45268269_summary.html"
                   href="summaries/45268269_summary.html">
                    Doom crash after 2.5 years of real-world runtime confirmed on real hardware
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 102</div>
            <div class="s6 m2 l1">Comments: 30</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45267643_summary.html"
                   href="summaries/45267643_summary.html">
                    Oracle, Silver Lake consortium to control 80% stake in TikTok in US
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 73</div>
            <div class="s6 m2 l1">Comments: 43</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45267336_summary.html"
                   href="summaries/45267336_summary.html">
                    The &#34;Most Hated&#34; CSS Feature: Cos() and Sin()
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 102</div>
            <div class="s6 m2 l1">Comments: 169</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45266947_summary.html"
                   href="summaries/45266947_summary.html">
                    In Defense of C&#43;&#43;
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 79</div>
            <div class="s6 m2 l1">Comments: 77</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45266854_summary.html"
                   href="summaries/45266854_summary.html">
                    Should we drain the Everglades?
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 77</div>
            <div class="s6 m2 l1">Comments: 74</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45266215_summary.html"
                   href="summaries/45266215_summary.html">
                    Meta RayBan AR glasses shows Lumus waveguide structures in leaked video
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 73</div>
            <div class="s6 m2 l1">Comments: 5</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45266121_summary.html"
                   href="summaries/45266121_summary.html">
                    Alex Karp Insists Palantir Doesn&#39;t Spy on Americans. Here&#39;s What He&#39;s Not Saying
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 240</div>
            <div class="s6 m2 l1">Comments: 69</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45266039_summary.html"
                   href="summaries/45266039_summary.html">
                    How to make the Framework Desktop run even quieter
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 155</div>
            <div class="s6 m2 l1">Comments: 47</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45265881_summary.html"
                   href="summaries/45265881_summary.html">
                    Adios Chicos, 25 Years of KDE
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 70</div>
            <div class="s6 m2 l1">Comments: 60</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45265831_summary.html"
                   href="summaries/45265831_summary.html">
                    Show HN: AI Code Detector – detect AI-generated code with 95% accuracy
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 620</div>
            <div class="s6 m2 l1">Comments: 246</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45265745_summary.html"
                   href="summaries/45265745_summary.html">
                    Denmark close to wiping out cancer-causing HPV strains after vaccine roll-out
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 70</div>
            <div class="s6 m2 l1">Comments: 1</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45265610_summary.html"
                   href="summaries/45265610_summary.html">
                    The Linux Process Journey (2023) [pdf]
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 207</div>
            <div class="s6 m2 l1">Comments: 75</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45265462_summary.html"
                   href="summaries/45265462_summary.html">
                    DOJ Deletes Study Showing Domestic Terrorists Are Most Often Right Wing
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 51</div>
            <div class="s6 m2 l1">Comments: 26</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45264867_summary.html"
                   href="summaries/45264867_summary.html">
                    Launch HN: Rowboat (YC S24) – Open-source IDE for multi-agent systems
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 338</div>
            <div class="s6 m2 l1">Comments: 537</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45264726_summary.html"
                   href="summaries/45264726_summary.html">
                    Scammed out of $130K via fake Google call, spoofed Google email and auth sync
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 607</div>
            <div class="s6 m2 l1">Comments: 595</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45264562_summary.html"
                   href="summaries/45264562_summary.html">
                    Waymo has received our pilot permit allowing for commercial operations at SFO
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
            <div class="l1"></div>
            <div class="s4 m2 l1">Points: 187</div>
            <div class="s6 m2 l1">Comments: 91</div>
            <div class="s12 m8 l9">
                <a hx-target="#articles" hx-get="summaries/45264340_summary.html"
                   href="summaries/45264340_summary.html">
                    Bertrand Russell to Oswald Mosley (1962)
                </a>
            </div>
            <div class="s12 bottom-border"></div>
        
        </div>
    </div>
<section>
